body {
  font-family: 'Noto Sans Arabic', sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-arrow {
  background-color: #feeaf1;
  border: none;
  font-size: 1rem; /* Adjust size as needed */
  color: #333; /* Adjust color as needed */
  cursor: pointer;
  z-index: 10;
  color: #000;
}

.custom-arrow:hover {
  background-color: #b65278;
  color: #fff;
}

.custom-left-arrow {
  position: absolute;
  top: 50%;
  left: 14px; /* Adjust position as needed */
  transform: translateY(-50%);
}

.custom-right-arrow {
  position: absolute;
  top: 50%;
  right: 14px; /* Adjust position as needed */
  transform: translateY(-50%);
}

.custom-arrow:hover {
  color: #000; /* Adjust hover color as needed */
}
